.NotaA
{
  background-color: lightblue;
}

.NotaB
{
  background-color: lightseagreen;
}

.NotaC
{
  background-color: gold  
}

.NotaD
{
  background-color: orange;
}

.NotaE
{
  background-color: lightcoral;
}

.NotaF
{
  background-color: red;
}

.Nota
{
  background-color:whitesmoke;
}


.selected {
    background-color: #CFD8DC !important;
    color: white;
  }
.jocs {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;    
  }
  .jocs ul{
    padding-left: 1em;
  }
  .jocs li {
    cursor: pointer;
    position: relative;
    left: 0;
    margin: .5em;
    padding: .3em 0;    
    border-radius: 4px;
  }
  .jocs li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
  }
  .jocs li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }
  .jocs .text {
    position: relative;
    top: -3px;
  }
  .jocs .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #607D8B;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;    
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }
  .jocs a {
    color:black;
    text-decoration: none;
    position: relative;
    display: block;
    
  }
   
  .jocs a:hover {
    color:#607D8B;
  }
   